@model Corvus.Monitoring.AspnetCore.Mvc.Demo.Models.HomeViewModel
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Corvus.Monitoring.AspnetCore.Mvc demo site</title>
	<style>
		* {
			font-family: sans-serif;
		}

		body {
			padding: 2em;
		}
	</style>
</head>
<body>
	<h1>Corvus.Monitoring.AspnetCore.Mvc demo site</h1>
	<h2>Request time (UTC): @Model.RequestTimeUtc.ToString("D")</h2>
</body>
</html>